name: "Build and deploy JAR app to Azure Web App: stiropor-api"

on:
  push:
    branches: [ "dev" ]
  workflow_dispatch:

concurrency:
  group: stiropor-api
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"

      - name: Make gradlew executable
        working-directory: backend
        run: chmod +x gradlew

      - name: Build with Gradle
        working-directory: backend
        run: ./gradlew clean bootJar

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-jar
          path: backend/build/libs/*.jar

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: "stiropor-api"
          slot-name: "production"
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_196BAB1D53AB45609D4A26E1BA14AC51 }}
          package: "backend/build/libs/*.jar"
