name: "Build and deploy JAR app to Azure Web App: stiropor-api"

on:
  push:
    branches: [ "dev" ]
  workflow_dispatch:

concurrency:
  group: stiropor-api
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Make gradlew executable
        working-directory: backend
        run: chmod +x gradlew

      - name: Build with Gradle
        working-directory: backend
        run: ./gradlew clean bootJar

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}


      - name: Deploy with Azure CLI
        run: az webapp deploy -g rg-stiropor -n stiropor-api --type jar --src-path backend/build/libs/*.jar
